@section head{
    <style>
        .home h1 {
            font-size: 70px;
            font-weight: bold;
            text-align: center;
            margin: 315px 0px;
        }

        .home h4 {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin: 315px 0px;
        }

        footer {
            position: absolute;
            bottom: 10px;
            color: #808080;
            width: 90%;
        }
    </style>
}
<div class="home">
    <h1>API Desafio Concrete</h1>
</div>
